<!DOCTYPE html>
<html>
  <head>
    <title>Awesome project</title>
  </head>
  <body>
    <div id="root">
    </div>
    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="http://localhost:3000/static/bundle.js"></script>
    <link href="http://localhost:3000/static/site.css" rel="stylesheet" type="text/css"></link>
  </body>
</html>
