<!DOCTYPE html>
<html>
  <head>
    <title>Redux Todos example</title>
  </head>
  <body>
    <div id="root">
    </div>
    <script src="http://localhost:3000/static/build/js/bundle.js"></script>
  </body>
</html>
